.answer {
    border: 1px solid green;
    margin: 2px;
}

.answer.incorrect:hover {
    color: red;
}

.answer.correct:hover {
    color: yellow;
}

.answer.incorrect.selected {
    text-decoration-line: line-through;
    opacity: 0.5;
    pointer-events: none;
}
