.answer {
    box-shadow: inset 0 0 50vh var(--a2fg);
}

.answer:hover {
    box-shadow: inset 0 0 50vh var(--a2bg);
    cursor: pointer;
}

.answer.incorrect.selected {
    text-decoration-line: line-through;
    opacity: 0.5;
    pointer-events: none;
}
